body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input{
    padding: 9px;
    margin: 9px;
}

button{
    padding: 9px 12px;
    cursor: pointer;
}
